{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login | {{ block.super }}{% endblock title %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert" style="margin-top: 15px">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{% url 'user_profile:user_login' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
    <div>
        <p>New to us? <a href="{% url 'user_profile:user_registration' %}">Register!</a></p>
    </div>

{% endblock content %}