{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Profile | {{ block.super }} {% endblock %}

{% block content %}
    <div style="display: flex">
        <form style="margin-right: 15px" method="post" action="{% url 'user_profile:user_profile' %}">
            {% csrf_token %}
            <div style="margin-bottom: 10px" class="form-group">
                <p>Account info</p>
            </div>
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit changes</button>
            </div>
        </form>
        <form method="post" action="{% url 'user_profile:profile_update' %}">
            <div style="margin-bottom: 10px" class="form-group">
                <p>Address for delivery</p>
            </div>
            {% csrf_token %}
            <div class="form-group">
                {{ profile_form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit changes</button>
            </div>
        </form>
    </div>
{% endblock %}