{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Registration | {{ block.super }} {% endblock %}

{% block content %}
<form method="post" action="{% url 'user_profile:user_registration' %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form|crispy }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}