{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="display: flex; flex-direction: column" >
<div id="header">
    <div>
        <a href="/" class="logo">My shop</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            <span id="hello">Hello, <a href="{% url 'user_profile:user_profile' %}">
                {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.
                </a>
            </span>
            <a href="{% url 'user_profile:user_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'user_profile:user_login' %}">Login</a>
        {% endif %}
    </div>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Your cart:
                <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
                </a>
                {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<nav style="flex: 0 0 auto; margin: 0 auto;">
    {% block paginator %}{% endblock paginator %}
</nav>
{% if user.is_staff %}
<div class="admin-panel">
    <a href="/admin/" class="btn btn-primary">Admin</a>
</div>
{% endif %}
</body>
</html>